<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Aspire Automation Test Suite" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">
    <test name="Aspire Test Framework" annotations="JDK" preserve-order="true">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.aspire.test.automation.test.CompleteFeatureTest"/>
        </classes>
    </test>
</suite>